{% extends 'base.html' %}

{% block title %}Hello World{% endblock title %}

{% block body %}
{% verbatim %}
<div ng-app="app" ng-controller="MainController">
    Page select
    <form class="d-flex">
          <input class="form-control me-2" name="search" placeholder="Page number" ng-model="page">
            <input class="form-control me-2" name="search" placeholder="Items per page" ng-model="page_size">
          <button class="btn btn-outline-success" ng-click="get()"> Go to page </button>
    </form>

    Add Product
    <form class="d-flex">
        <input class="form-control me-2" type="text" name="name" placeholder="name" ng-model="newProduct.name">
        <span> {{errors.name}} </span>

        <select class="form-control me-2"  name="category" ng-options="category.name for category in categories" ng-model="newProduct.category">
        </select>
        <span> {{errors.category}} </span>

        <select multiple class="form-control me-2"  name="tag" ng-options="tag.name for tag in tags" ng-model="newProduct.tag">
        </select>
        <button class="btn btn-outline-success" ng-click="post()"> Add </button>
    </form>

    Search Product
    <form class="d-flex">
          <input class="form-control me-2" name="search" placeholder="Keyword" ng-model="keyword">
<!--          <button class="btn btn-outline-success" ng-click="searchProducts()"> Search </button>-->
    </form>

    Filter Product
    <form class="d-flex">
        <input class="form-control me-2" name="name" placeholder="name" ng-model="query.name">
        <select class="form-control me-2"  name="category" ng-options="category.name for category in categories" ng-model="query.category">
        </select>
        <select multiple class="form-control me-2"  name="tag" ng-options="tag.name for tag in tags" ng-model="query.tag">
        </select>
<!--        <button class="btn btn-outline-success" ng-click="filterProducts"> Filter </button>-->
    </form>

    Product List
    <div class="d-flex" >
        <li class="form-control me-1"> Name </li>
        <li class="form-control me-1"> Category </li>
        <li class="form-control me-1" > Tag </li>
    </div>
    <div class="d-flex" ng-repeat="product in products | filter:searchProducts | filter:filterProducts">
        <li class="form-control me-2">{{ product.name }}</li>
        <li class="form-control me-2">{{ product.category.name }}</li>
        <li class="form-control me-2" >
            <div ng-repeat="tag in product.tag">
                {{tag.name}}
            </div>
        </li>
    </div>


<!--    <form> Add Category-->
<!--        <ul>-->
<!--            <li>-->
<!--                <input type="text" name="name" placeholder="Category" ng-model="newCategory.name">-->
<!--                <span> {{errors.name}} </span>-->
<!--            </li>-->

<!--            <button ng-click="postCategory()"> Add </button>-->
<!--        </ul>-->
<!--    </form>-->
</div>

{% endverbatim %}
{% endblock body%}