{% extends 'project/base.html' %}

{% block content %}

<h1>List of all products </h1>
<ui>

<form class="d-flex" role="filter" method="POST" action="{% url 'filter_results' %}">
    {% csrf_token %}
    <input class="form-control me-2" name="name" type="search" placeholder="name" aria-label="Filter">
    <input class="form-control me-2" name="category" type="search" placeholder="category" aria-label="Filter">
    <input class="form-control me-2" name="tag" type="search" placeholder="tag" aria-label="Filter">
    <button class="btn btn-outline-success" type="submit">Filter</button>
</form>

{% for product in products_list%}
    <strong>{{product}}</strong>
    <ui>
    <li>Category: {{product.category}}</li>
    <li> Tags:
    {% for tag in product.tag.all%}
        {{tag}}
    {% endfor%}
    </li>
    </ui>
{% endfor%}
</ui>

{% endblock %}